@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
body{
  transition: background-color 1s ease-out;
}
footer{
  color: white;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#wrapper{
  margin: auto;
  width: 70%;
  max-width: 600px;
}
#quote-box{
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}
#new-quote{
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: white;
}
#text{
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: opacity 0.5s linear;
}
#tweet-quote #tumblr-quote{
  height: 100%;
  margin-left: 10px;
}

#author{
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
  transition: opacity 0.5s linear;
}
.link-btn{
  padding: 3px;
  margin-left: 6px;
  min-width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
}
.container{
  height: 40px;
}
.flex-r{
  display: flex;
  flex-direction: row;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.flex-sb{
  justify-content: space-between;
}
